<div class="row">
  <div class="col-sm-4">
    <div class="col-md-12">
      <button [routerLink]="['new']" class="btn btn-success">Add Recipe</button>
    </div>
    <!-- RECIPE LIST ITEM BEGIN -->
    <div class="col-md-12" style="margin-top: 10px" *ngIf="isLoading">
      <app-spinner></app-spinner>
    </div>
    <div *ngFor="let recipe of recipes" class="col-md-12 media">
      <div class="col-md-12" class="item">
        <h4>
          <a
            [routerLink]="['/recipes', recipe.id]"
            routerLinkActive="active-item">
            {{ recipe.name }}
          </a>
        </h4>
        <p>{{ recipe.description }}</p>
        <img
          [src]="recipe.imagePath"
          [alt]="recipe.name"
          class="img-responsive img-rounded"
          style="max-height: 100px" />
      </div>
    </div>
    <!-- RECIPE LIST ITEM END -->
  </div>
  <div class="col-sm-8">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
