<div class="row">
    <h2 class="text-center">Recipes</h2>
    <!-- RECIPE LIST ITEM BEGIN -->
    <div *ngFor="let recipe of recipes" class="col-md-6 col-md-offset-3 media">
        <div class="row">
            <hr>
            <div class="col-md-6">
                <h4>
                    <a (click)="onRecipeClick(recipe.id)">
                        {{ recipe.name }}
                    </a>
                </h4>
                <p>{{ recipe.description }}</p>
            </div>
            <div class="col-md-6">
                <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive img-rounded" style="max-height: 200px;">
            </div>
        </div>
    </div>
    <!-- RECIPE LIST ITEM END -->
</div>
<app-recipe-detail [recipeName]="editingRecipe.name" [recipeDescription]="editingRecipe.description" [recipeImagePath]="editingRecipe.imagePath"></app-recipe-detail>