<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="">Recipe Name</label>
            <input type="text" class="form-control" [(ngModel)]="recipe.name">
        </div>
        <div class="form-group">
            <label for="">Description</label>
            <textarea class="form-control" rows="4" [(ngModel)]="recipe.description"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-default">Save</button>
        </div>
    </div>
</div>