<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="alert alert-danger" *ngIf="errorMessage && !isLoading">
            <span>{{ errorMessage }}</span>
        </div>
        <div class="alert alert-success" *ngIf="successMessage && !isLoading">
            <span>{{ successMessage }}</span>
        </div>
        <div *ngIf="isLoading">
            <app-spinner></app-spinner>
        </div>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="text"
                  id="email"
                  class="form-control"
                  ngModel
                  name="email"
                  required
                  email>
            </div>
            <div class="form-group">
                <label for="username">Password</label>
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  ngModel
                  name="password"
                  required
                  minlength="6">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-8">
                       <button
                          type="submit"
                          class="btn btn-block btn-success"
                          [disabled]="form.invalid">
                            <span *ngIf="loginMode; else signupMsg">
                                Login
                            </span>
                            <ng-template #signupMsg>
                                Sign Up
                            </ng-template>
                        </button>
                    </div>
                    <div class="col-xs-4">
                        <button
                          type="button"
                          class="btn btn-block btn-primary"
                          (click)="onToggleMode()">
                            <span *ngIf="loginMode; else switchToLogin">
                                Switch to Sign Up
                            </span>
                            <ng-template #switchToLogin>
                                Switch to Login
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>