<form #formEdit="ngForm" (ngSubmit)="onSubmit(formEdit)">
    <div class="form-group">
        <label for="">Ingredient Name</label>
        <input 
            type="text" 
            class="form-control" 
            placeholder="Example: Spaghetti De Cecco 500gr"
            ngModel
            name="ingredientName"
            required
            #ingrName="ngModel"
            [ngClass]="{'input-invalid': ingrName.invalid && ingrName.touched }">
        <span class="help-block input-invalid" *ngIf="ingrName.invalid && ingrName.touched">Please specify an ingredient!</span>
    </div>
    <div class="form-group">
        <label for="">Quantity</label>
        <input 
            type="number" 
            class="form-control" 
            placeholder="Example: 12"
            ngModel
            name="ingredientQuantity"
            required
            pattern="^\d*$"
            [ngModel]="1"
            #ingrQty="ngModel"
            [ngClass]="{'input-invalid': ingrQty.invalid && ingrQty.touched }">
        <span class="help-block input-invalid" *ngIf="ingrQty.invalid && ingrQty.touched">Please specify an integer number.</span>
    </div>
    <div class="form-group">
        <button [disabled]="formEdit.invalid" class="btn btn-success btn-block">{{ actionMessage }}</button>
    </div>
</form>