<nav class="col-xs-12 navbar navbar-default navbar-fixed-bottom visible-xs-block">
  <div class="container">
    <div class="row">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active" class="text-center col-xs-6">
                <a routerLink="/shopping-list">
                    <i class="glyphicon glyphicon-th-list"></i>
                    <br>
                    Shopping List
                </a>
            </li>
            <li routerLinkActive="active" class="text-center col-xs-6">
                <a routerLink="/recipes">
                  <i class="glyphicon glyphicon-th-list"></i>
                  <br>
                  Recipes
                </a>
            </li>
        </ul>
    </div>
  </div>
</nav>
